<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SalesManagementConnectionString"
            connectionString="Data Source=DESKTOP-A86NIAL;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=123123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.SalesManagementConnectionString1"
            connectionString="Data Source=DESKTOP-A86NIAL;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=123123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>